.signupParentDiv {
 z-index: -5;
   position: relative;
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
  
  .signupParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
  }
  
  .signupParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .signupParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .signupParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .main{
   background-color: rgba(0, 0, 0, 0.699);
   width: 100%;
  height: 38.7rem;
  }
.container{
  margin-top: 20%;
  position: absolute;
  margin-left: 8%;
 
  display: flex;
  align-items: center;
  justify-content: center;
}



.container .ring
{
  
 
  transform:translate(-50%,-50%);
  width:30px;
  height:30px;
  background:transparent;
 
  border-radius:50%;

 
}
.container .ring:before
{
  content:'';
  position:absolute;
 
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #00ff62;
  border-right:3px solid #00f7ff;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.container span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.container span:before
{
  content:'';
  position:absolute;
  width:7px;
  height:7px;
  border-radius:50%;
  background:#00ccff;
  top:-2px;
  right:-2px;
  color: white;
  box-shadow:0 0 20px #00fff2;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}